<div class="uk-section-default uk-section">
  <div class="uk-container">
    <h2 i18n="@@cardMobile">Mobile Netzabdeckung</h2>
  </div>


  <div class="uk-container uk-container-xlarge">
    <div class="uk-container">
      <form class="uk-form uk-padding-remove uk-margin-top-50">
        <p class="uk-inline">
          <label for="statistik_type" class="uk-margin-small-right" i18n="@@operator">Betreiber</label>
          <select *ngIf="formOptions" class="uk-select uk-width-auto uk-margin-medium-right" id="statistik_type"
                  name="statistik_type" [(ngModel)]="selectedOperator"
                  (ngModelChange)="selectedObligationLayer=null;reloadMap()">
            <option *ngFor="let operator of formOptions.filter.operators" [value]="operator.operator">
              <ng-container *ngIf="operator.label === '@all'" i18n="@@allOperators">Alle Betreiber</ng-container>
              <ng-container *ngIf="operator.label !== '@all'">
                {{operator.label}}
              </ng-container>

            </option>

          </select>
        </p>
        <p class="uk-inline uk-margin-remove-top" *ngIf="operatorFilterForOperator(selectedOperator)?.obligations">
          <label for="statistik_type" class="uk-margin-small-right" i18n="@@obligation">Versorgungsauflagen</label>
          <select id="obligation" name="obligation" class="uk-select uk-width-auto"
                  [(ngModel)]="selectedObligationLayer" (ngModelChange)="reloadMap()">
            <option [value]="null" i18n="@@none">nicht dargestellt</option>
            <option *ngFor="let obligation of operatorFilterForOperator(selectedOperator)?.obligations"
                    [value]="obligation.type">
              <ng-container *ngIf="obligation.type === 'kg'" i18n="@@cadastral_plural">Katastralgemeinden</ng-container>
              <ng-container *ngIf="obligation.type === 'street'" i18n="@@streets">Straßen</ng-container>
              <ng-container *ngIf="obligation.type === 'cities'" i18n="@@cities">Städte</ng-container>
              <ng-container *ngIf="obligation.type === 'roads_bl'" i18n="@@roads_bl">Straßen (B/L)</ng-container>
              <ng-container *ngIf="obligation.type === 'motorways'" i18n="@@motorways">Autobahnen</ng-container>
              <ng-container *ngIf="obligation.type === 'railways'" i18n="@@railways">Bahnstrecken</ng-container>
            </option>
          </select>
        </p>
      </form>
    </div>
    <div uk-grid>
      <div class="uk-width-expand@m">
        <div class="map-container" id="map">

        </div>
      </div>
      <div class="uk-width-1-5@m">
        <div *ngIf="!pointInfoCov && !pointInfoIds" class="uk-flex uk-flex-column fullHeight">
          <div class="alignToStart uk-width-expand">
            <h5 i18n="@@introtext">Diese Karte informiert Sie über die Mobilfunkversorgung in Österreich.</h5>
            <div i18n="@@introtext_details"><p>Diese Informationen beruhen auf <a href="/open-data/de">Open Data der
              Netzbetreiber</a> und werden von diesen basierend auf einer Lizenzauflage zur Verfügung gestellt. Die
              Daten beziehen sich auf eine Fläche von 100m x 100m (Mikroraster der Statistik Austria). Für Fragen - etwa
              mit welchem Tarif diese Bandbreiten erreicht werden bzw. ob für Ihren konkreten Standort eine Herstellung
              möglich ist - wenden Sie sich bitte an den jeweiligen Netzbetreiber.
              Diese Netze werden auch von weiteren Mobilfunkanbietern (z.B. MVNOs) verwendet.</p>
              <p>Unter "maximaler Geschwindigkeit" ist jene Geschwindigkeit angeführt, die zumindest einmal pro Tag
                erreicht wird. Die "normalerweise verfügbare Geschwindigkeit" ist jene Geschwindigkeit, die zu 95% der
                Zeit während eines Tages erreicht wird, damit kann diese Geschwindigkeit für 1 Stunde und 12 Minuten
                unterschritten werden.</p>
            </div>
          </div>
          <div class="alignToEnd">
            <p><strong i18n="@@legend">Legende:</strong>
              <ng-container i18n="help_full"></ng-container>
            </p>
            <div class="legendContainer">
              <div i18n="@@quality">Versorgungsqualität</div>
              <div class="legendGradient"></div>
              <div class="uk-grid">
                <div class="uk-width-1-3" i18n="@@bad">schwach</div>
                <div class="uk-width-1-3 uk-text-center" i18n="@@medium">mittel</div>
                <div class="uk-width-1-3 uk-text-right" i18n="@@excellent">ausge
                  <wbr>
                  zeichnet
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="pointInfoIds || pointInfoCov" class="uk-flex uk-flex-column fullHeight">

          <div *ngIf="pointInfoIds" class="alignToStart uk-width-expand">

              <b>
                <ng-container i18n="@@coordinates">Auswahl:
                  N {{convertDMS(pointInfoIds[0].request_latitude)}},
                  O {{convertDMS(pointInfoIds[0].request_longitude)}}
                  <br/>
                </ng-container>
              </b>
            <p>
            <ng-container *ngIf="selectedObligationLayer=='kg' && pointInfoIds[0].kg_operator  && pointInfoIds[0].kg_deadline">



            <h3 i18n="@@obligation_kg">Auflage Katastralgemeinden</h3>

            <ng-container *ngIf="pointInfoIds[0].rtr_j1_kg">
              <ng-container i18n="@@cadastral">Katastralgemeinde</ng-container>:
              {{pointInfoIds[0].rtr_j1_kg}}
              <br/>
            </ng-container>

              <ng-container
                *ngIf="pointInfoIds[0].kg_operator">
                <ng-container i18n="@@obligation_operator">Betreiber: </ng-container>
                {{pointInfoIds[0].kg_operator}}
                <br/>
              </ng-container>

            <ng-container
              *ngIf="pointInfoIds[0].kg_deadline">
              <ng-container i18n="@@obligation_deadline">Verpflichtet seit: </ng-container>
              {{pointInfoIds[0].kg_deadline}}
              <br/>
            </ng-container>


            </ng-container>

            </p>
          </div>
          <div *ngIf="pointInfoCov" class="uk-flex uk-flex-column fullHeight">
            <h3 i18n="@@coverage_headline">Abdeckung</h3>


            <div *ngFor="let info of pointInfoCov">
              <h4 class="uk-margin-remove-bottom">{{getOperatorByLabel(info.operator)?.label}}</h4>
              <ng-container i18n="@@operator_info_100m">Betreiberangabe für 100m x 100m Raster:</ng-container>
              <table class="uk-table uk-table-small uk-table-striped uk-margin-remove-top">
                <thead>
                <tr>
                  <th class="uk-text-right" i18n="@@mbits">MBit/s</th>
                  <th class="uk-text-right" i18n="@@down">Down</th>
                  <th class="uk-text-right" i18n="@@up">Up</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngIf="info.downloadkbitnormal">
                  <td>
                    <ng-container i18n="@@normallyAvailable">Normal</ng-container>
                  </td>
                  <td class="uk-text-right speedColumn">{{(info.downloadkbitnormal / 1000) | FormatBps}}&nbsp;</td>
                  <td class="uk-text-right speedColumn">{{(info.uploadkbitnormal / 1000) | FormatBps}}&nbsp;</td>
                </tr>
                <tr *ngIf="info.downloadkbitmax">
                  <td>
                    <ng-container i18n="@@maxSpeed">Maximal</ng-container>
                  </td>
                  <td class="uk-text-right speedColumn">{{(info.downloadkbitmax / 1000) | FormatBps}}&nbsp;</td>
                  <td class="uk-text-right speedColumn">{{(info.uploadkbitmax / 1000) | FormatBps}}&nbsp;</td>
                </tr>
                </tbody>
              </table>
              <p>
                <ng-container i18n="@@dateDate">Datenstand</ng-container>
                :
                {{ info.last_updated | date: 'dd.MM.yyyy' }}
              </p>
            </div>
          </div>
          <div *ngIf="!pointInfoCov" class="uk-flex uk-flex-column fullHeight">
            <h4 i18n="@@no_coverage">Keine Abdeckung.</h4>
          </div>
          <div *ngIf="pointInfoIds">

            <h3 i18n="@@geo_info">Geoinformation</h3>
            <p>

              <ng-container *ngIf="pointInfoIds[0].vgd_kg">
                <ng-container i18n="@@cadastral">Katastralgemeinde</ng-container>:
                {{pointInfoIds[0].vgd_kg}}
                <br/>
              </ng-container>

              <ng-container *ngIf="pointInfoIds[0].vgd_pg">
                <ng-container i18n="@@community"> Gemeinde</ng-container>:
                {{pointInfoIds[0].vgd_pg}}
                <br/>
              </ng-container>

              <ng-container *ngIf="pointInfoIds[0].vgd_gb">
                <ng-container i18n="@@district">Bezirk</ng-container>:
                {{pointInfoIds[0].vgd_gb}}
                <br/>
              </ng-container>

              <ng-container *ngIf="pointInfoIds[0].vgd_bl">
                <ng-container i18n="@@region">Bundesland</ng-container>:
                {{pointInfoIds[0].vgd_bl}}
                <br/>
              </ng-container>


              <ng-container *ngIf="pointInfoIds[0].rtr_j6_name">
                <ng-container i18n="@@permanent_settlement_area">Dauersiedlungsraum</ng-container>:
                {{pointInfoIds[0].rtr_j6_name}}
                <br/>
              </ng-container>

              <ng-container *ngIf="pointInfoIds[0].r100">
                <ng-container i18n="@@raster100">Raster 100m</ng-container>:
                {{pointInfoIds[0].r100}}
                <br/>
              </ng-container>

              <ng-container *ngIf="pointInfoIds[0].short_id100 && pointInfoIds[0].long_id100">
                <ng-container i18n="@@id100">ID100</ng-container>:
                {{pointInfoIds[0].short_id100}} ({{pointInfoIds[0].long_id100}})

                <br/>
              </ng-container>

              <ng-container *ngIf="pointInfoIds[0].r250">
                <ng-container i18n="@@raster250">Raster 250m</ng-container>:
                {{pointInfoIds[0].r250}}
                <br/>
              </ng-container>

              <ng-container *ngIf="pointInfoIds[0].short_id250 && pointInfoIds[0].long_id250">
                <ng-container i18n="@@id250">ID250</ng-container>:
                {{pointInfoIds[0].short_id250}} ({{pointInfoIds[0].long_id250}})

                <br/>
              </ng-container>
            </p>
          </div>
          <div *ngIf="pointInfoCov" class="alignToEnd">
            <p>
              <ng-container i18n="@@license">{pointInfoCov.length, plural, =1 {Lizenz} other {Lizenzen}}:</ng-container>
              <ng-container *ngFor="let info of pointInfoCov; last as isLast">
                {{info.license}} {{getOperatorByLabel(info.operator)?.label}}
                <ng-container *ngIf="!isLast">,</ng-container>
              </ng-container>, CCBY4.0 BEV
            </p>
          </div>
          <div class="alignToEnd">
            <p><strong i18n="@@legend">Legende:</strong>
              <ng-container i18n="help_full"></ng-container>
            </p>
            <div class="legendContainer">
              <div i18n="@@quality">Versorgungsqualität</div>
              <div class="legendGradient"></div>
              <div class="uk-grid">
                <div class="uk-width-1-3" i18n="@@bad">schwach</div>
                <div class="uk-width-1-3 uk-text-center" i18n="@@medium">mittel</div>
                <div class="uk-width-1-3 uk-text-right" i18n="@@excellent">ausge
                  <wbr>
                  zeichnet
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

