<div class="uk-section-default uk-section">
  <div class="uk-container">
    <h2>Frequenzen</h2>
  </div>



  <div class="uk-container uk-container-xlarge">
    <div class="uk-container">
      <form class="uk-form uk-padding-remove uk-margin-top-50">
        <p>
          <label for="statistik_type" >Betreiber</label>
          <select class="uk-select uk-width-auto" id="statistik_type" name="statistik_type" [(ngModel)]="selectedOperator" (ngModelChange)="reloadMap()" >
            <option *ngFor="let operator of formOptions.filter.operators" [value]="operator.operator">{{operator.label}}</option>
          </select>
        </p>

      </form>
    </div>
    <div uk-grid>
      <div class="uk-width-expand@m">
        <div class="map-container" id="map">

        </div>
      </div>
      <div class="uk-width-1-3@m">
        <div *ngIf="!pointInfo" class="uk-flex uk-flex-column fullHeight">
          <div class="alignToStart uk-width-expand">
          <h5>Nutzen Sie die Mobilfunkabdeckungs-Karte von RTR.Telekom.Post</h5>
          <p>Charivari Edlweiss Namidog Gamsbart midanand Kirwa, Habedehre. Biaschlegl boarischer Mamalad Spezi moand Guglhupf, Vergeltsgott Mamalad Biazelt zwoa. Barfuaßat nois singd a ganze, resch de Servas. Fingahaggln und scheans wos singd Schbozal, midanand barfuaßat. Deandlgwand luja Broadwurschtbudn oans Kneedl scheans dahoam!

            Dahoam d’ Spuiratz dahoam i hob di liab Mamalad unbandig nimmds unbandig glei glacht. Brezn fei resch measi i mogsd a Bussal, eam zünftig? Baamwach nia need fei, back mas a fescha Bua Ledahosn hawadere midananda.</p>
          </div>
          <div class="alignToEnd">
            <p><strong>Erklärung zur Karte:</strong> Blosmusi zwoa Fingahaggln des is schee, hi Goaßmaß. Schorsch hea trihöleridi dijidiholleri Breihaus zünftig, auszutzeln back mas hoam no a Maß! Greichats Obazda Blosmusi, gscheit es a geh Semmlkneedl resch o’ha Trachtnhuat. Gwiss heid ned Jodler no a Maß om auf’n Gipfe lem und lem lossn ned noch da Giasinga Heiwog</p>
          </div>
        </div>
        <div *ngIf="pointInfo">
          <h3>Informationen zur Abdeckung</h3>
          <p>
            Koordinaten: {{convertDMS(pointInfo[0].centroid_x)}}, {{convertDMS(pointInfo[0].centroid_y)}}<br/>
            Raster-ID: {{pointInfo[0].raster}}
          </p>
          <div *ngFor="let info of pointInfo">
            <h4 class="uk-margin-top-50 uk-margin-remove-bottom">{{getOperatorByLabel(info.operator)?.label}}</h4>
            <table class="uk-table uk-table-small uk-table-striped uk-margin-remove-top">
              <thead>
              <tr>
                <th></th>
                <th class="uk-text-right">Down</th>
                <th class="uk-text-right">Up</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="info.downloadkbitnormal">
                <td>Normalerweise zur Verfügung stehende Geschwindigkeit</td>
                <td class="uk-text-right">{{(info.downloadkbitnormal / 1000) | number: '1.0-0'}} Mbit/s</td>
                <td class="uk-text-right">{{(info.uploadkbitnormal / 1000) | number: '1.0-0'}} Mbit/s</td>
              </tr>
              <tr *ngIf="info.downloadkbitmax">
                <td>maximale Geschwindigkeit</td>
                <td class="uk-text-right">{{(info.downloadkbitmax / 1000) | number: '1.0-0'}} Mbit/s</td>
                <td class="uk-text-right">{{(info.uploadkbitmax / 1000) | number: '1.0-0'}} Mbit/s</td>
              </tr>
              </tbody>
            </table>
            <p>
              Datenstand: {{ info.last_updated | date: 'dd.MM.yyyy' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

