

#map {
  height: 600px;
  //background-color: lightsalmon;

  @media (min-height: 1080px) {
    height: 1000px;
  }
}

.alignToStart {
  align-self: flex-start;
}
.alignToEnd {
  align-self: flex-end;
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.speedColumn {
  word-break: keep-all;
}

.legendContainer {
  max-width: 400px;
}

.legendGradient {
  width: 100%;
  height: 20px;
  background-image: linear-gradient(90deg, #46085c,#471063,#481769,#481d6f,#482475,#472a7a,#46307e,#453781,#433d84,
    #414287,#3f4889,#3d4e8a,#3a538b,#38598c,#355e8d,#33638d,#31688e,#2e6d8e,#2c718e,#2a768e,#297b8e,#27808e,#25848e,
    #23898e,#218e8d,#20928c,#1f978b,#1e9c89,#1fa188,#21a585,#24aa83,#28ae80,#2eb37c,#35b779,#3dbc74,#46c06f,#50c46a,
    #5ac864,#65cb5e,#70cf57,#7cd250,#89d548,#95d840,#a2da37,#b0dd2f,#bddf26,#cae11f,#d8e219,#e5e419,#f1e51d,);
}
