

#map {
  height: 600px;
  //background-color: lightsalmon;

  @media (min-height: 1080px) {
    height: 1000px;
  }
}

.alignToStart {
  align-self: flex-start;
}
.alignToEnd {
  align-self: flex-end;
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.speedColumn {
  word-break: keep-all;
}

.legendContainer {
  max-width: 400px;
}

.legendGradient {
  width: 100%;
  height: 20px;
  background-image: linear-gradient(90deg, #040312, #57157D, #D1426F, #F97C5D, #FCFBBD);
}
