

#map {
  height: 600px;
  background-color: lightsalmon;

  @media (min-height: 1080px) {
    height: 1000px;
  }
}

.alignToStart {
  align-self: flex-start;
}
.alignToEnd {
  align-self: flex-end;
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.speedColumn {
  word-break: keep-all;
}
